$mainFont: dnp-shuei-mgothic-std, sans-serif;
$headingFont: vdl-megamaru, sans-serif;
$titleFontSize: 1.8em;
$titleFontSize-sp: 1.3em;
$headingFontSize: 2em;
$fontSize: 1em;
$mainFontColor: #3d3d3d;
$backgroundColor: #F7FDFF;
$subColor01: #288ade;
$subColor02: #ECF5FA;
$mobile-max: 520px;
$tablet-max: 959px;

@mixin tb {
  @media screen and (max-width: $tablet-max) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $mobile-max) {
    @content;
  }
}


/* common 
================ */

body {
  font-size: $fontSize;
  font-family: $mainFont;
  color: $mainFontColor;
}

main {
  @include small {
    padding-top: 10px;
  }
}

.gradation {
  background: rgb(38,88,170);
  background: linear-gradient(0deg, rgba(38, 89, 170, 0.521) 0%, rgba(104,173,209,1) 32%, rgba(133,201,231,1) 44%, rgba(166,225,246,1) 57%, rgba(224,249,255,1) 85%, rgba(242,253,255,1) 100%);
}


.btn__wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  width: 300px;
  margin: 0 auto 30px;

  &__link {
    display: block;
    background: #1C8DFF;
    padding: 15px 30px;
    border-radius: 30px;
    width: 300px;
    margin: 0 auto 30px;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    transition: .5s;
    @include small {
      font-size: 1.2wm;
    }
    &:hover {
      background: #e8f4ff;
      color: #1C8DFF;
    }
  }
  &--price {
    margin: 0 50px;
  }
}

.fas {
  padding: 0 5px;
}
.fa-clock {
  padding-right: 10px;
}

/* Contents
================ */

.contentsWrapper {
  background: $backgroundColor;
  
  &--news {
    position: relative;
    top: 1px;
    margin-top: -2px;
  }
  &--price {
    position: relative;
    padding-bottom: 0;
    margin-bottom: -1px;
    @include small {
      margin-bottom: -2px;
    }
  }
  &--access {
    padding-bottom: 100px;
  }

  &__heading {
    font-size: $titleFontSize;
    font-family: $headingFont;
    width: 70%;
    padding: 100px 0 20px;
    margin: 0 auto 40px;
    line-height: 1;
    @include tb {
      width: 80%;
    }
    @include small {
      font-size: $titleFontSize-sp;
      width: 85%;
      margin: 0 auto 15px;
    }
    &--news {
      padding: 50px 0 20px;
    }
    &--price {
      position: relative;
      z-index: 1;
      
    }
    &__text {
      display: inline-block;
      padding: 20px 30px;
      border-bottom: 3px solid #3f3f3f;
      @include small {
        padding: 20px 15px 5px ;
      }
    }
  }
}


/* header 
================ */

.header {
  position: relative;
  height: 90vh;
  width: 100vw;
  font-family: $headingFont;
  @include tb {
    height: 600px;
  }
  @include small {
    height: 500px;
  }
  &__movie {
    position: fixed;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;

    &__video {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 177.77777778vh;
      height: 56.25vw; 
      min-height: 100%;
      min-width: 100%;

      // & source {
      //   min-height: 100%;
      //   min-width: 100%;
      // }
    }
  }

  &__logo {
    width: 800px;
    position:absolute;
    top: 47%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    font-size: 3.3em;
    letter-spacing: 5px;
    text-align: center;
    @include tb {
      width: 80%;
      font-size: 2.5em;
      top: 40%;
    }
    @include small {
      width: 95%;
      font-size: 1.8em;
      letter-spacing: 0;
      top: 35%;
    }

    &__catchcopy {
      margin-bottom: 10px;
      display: block;
      @include small {
        margin-bottom: 0;
      }
    }
    &__title {
      display: block;
    }
    &__img {
      width: 500px;
      @include tb {
        width: 400px;
      }
      @include small {
        width: 300px;
      }
    }
  }
}

/* header info */
.header__info {
  position: absolute;
  background: #f1faff;
  background: -webkit-linear-gradient(bottom,rgba(241,250,255,.8) 0,rgba(226,247,246,.8) 100%);
  background: -o-linear-gradient(bottom,rgba(241,250,255,.8) 0,rgba(226,247,246,.8) 100%);
  background: linear-gradient(to top,rgba(241,250,255,.8) 0,rgba(226,247,246,.8) 100%);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, .10);
  border-radius: 10px;
  top: 60%;
  left: 3%;
  width: 370px;
  font-family: $mainFont;
  z-index: 2;
  @include tb {
    width: 60%;
    margin: 0 auto;
    top: 75%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
  @include small {
    width: 80%;
    top: 73%;
  }
  &__title {
    font-size: 1.2em;
    line-height: 2;
    // border-bottom: #000 2px dotted;
    width: 270px;
    margin: 10px auto 10px;
    color: #005ca1;
    @include tb {
      display: inline-block;
    }
    @include small {
      line-height: 2;
      font-size: 1.2em;
    }
  }
  &__hours {
    font-size: 1.3em;
    font-family: $mainFont;
    padding: 20px 10px;
    text-align: center;
    margin: 10px 50px 15px;
    background: rgba(255, 255, 255, 0.651);
    color: #005ca1;
    font-weight: bold;
    
    @include small {
      font-size: 1.3em;
      margin: 10px 20px 15px;
      padding: 10px;
    }
  }
  &__price {
    background: rgb(40,138,222);
    // background: linear-gradient(141deg, rgba(40,138,222,1) 0%, rgba(104,173,209,1) 43%, rgba(133,201,231,1) 70%, rgba(147,209,236,1) 100%);
    color: #fff;
    display: block;
    width: 270px;
    text-align: center;
    margin: 0 auto 20px;
    padding: 10px 20px;
    transition: .5s;
    &:hover {
      background: rgb(19, 86, 145);
    }
  }

  &__img {
    position: absolute;
    top: 10%;
    left: 2%;

    & img {
      width: 120px;
    }
  }
}


/* web ticket */
.reserve {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  @include small {
    right: 10px;
  }
  &:hover {
    filter: drop-shadow(5px 3px 6px rgba(0, 0, 0, 0.144));
    transform: translateY(-5px);
    transition-duration: 0.5s;
    }
  

  & img {
    width: 120px;
    @include small {
      width: 80px;
    }
  }
}

/* wave
================ */
.wave {
  position:relative;
  height:90px;/*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
  @include small {
    height: 10px;
  }
}
canvas {
position: absolute;
bottom: 0;
left:0;
width: 100%;
}


/* nav
================ */

.nav {
  font-family: $headingFont;
    @include small {
      position:fixed;
      z-index: 999;
      top:0;
      right: -120%;
      width:100%;
      height: 100vh;
      background:rgba(48, 119, 226, 0.897);
      transition: all 0.6s;
      &.panelactive {
        right: -40%;
      }
    }
    &__logo {
      display: none;
      @include small {
        display: block;
        font-size: 1.3em;
        margin-left: 15px;
        color: #fff;
      }
      &__title {
        @include small {
          margin-top: 50px;
          margin-left: 10px;
        }
      }
    }
  &List {
    display: flex;
    justify-content: center;
    @include small {
      display: block;
      width: 65%;
    }
    &__item {
      margin: 30px 0 80px;
      border-left: 1px dashed $mainFontColor;
      width: 13%;
      @include tb {
        width: 18%;
      }
      @include small {
        text-align: left;
        width: 100%;
        margin: 10px 0 10px;
        border-left: none;
      }
      &--border {
        border-right: 1px dashed $mainFontColor;
        @include small {
          border-right: none;
        }
      }
      &__link {
        display: block;
        position: relative;
        @include small {
          color: #fff;
          display: block;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-weight: bold;
          margin-left: 30px;
        }
        & img {
          display: block;
          width: 50px;
          margin: 0 auto;
          @include tb {
            width: 40px;
          }
          @include small {
            display: inline-block;
          }
        }
        &__text {
          display: block;
          font-size: 1.3em;
          text-align: center;
          @include tb {
            font-size: 1em;
          }
          @include small {
            display: inline-block;
            line-height: 2;
            text-align: left;
            font-size: .9em;
          }
          &--size {
            font-size: 1.2em;
            line-height: 1;
            @include tb {
              font-size: .9em;
            }
            @include small {
              font-size: .8em;
            }
          }
        }
      }
    }
  }
  &__btn {
    display: none;
    @include small {
      display: block;
      background: #fff;
      width: 45%;
      padding: 10px 20px;
      text-align: center;
      margin: 20px 20px 20px 30px;
      border-radius: 8px;
      font-size: .8em;
    }
  }
}



@include small {
  .openbtn {
    position:fixed;
    z-index: 9999;
    top:10px;
    right: 10px;
    width: 50px;
    height:50px;
    @include small {
      right: 0;
      width: 70px;
      height: 70px;
    }
    & span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      background-color: #666;
      width: 45%;
      &:nth-of-type(1) {
        top:15px;	
      }
      &:nth-of-type(2) {
        top:25px;
      }
      &:nth-of-type(3) {
        top:35px;
      }
    }
    &.active span:nth-of-type(1) {
      top: 8px;
      left: 30px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
    }
    &.active span:nth-of-type(2) {
      opacity: 0;
    }
    &.active span:nth-of-type(3){
      top: 20px;
      left: 30px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
    }
  }
}


.nav__sp {
  display: none;
  @include small {
    display: block;
  }
}




/* Important Notices
======================== */

.important {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto 50px;
  @include tb {
    width: 85%;
    display: block;
  }
  @include small {
    width: 95%;
    margin-bottom: 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE2E2;
    width: 40%;
    border-radius: 10px 0 0 10px;
    font-size: 1.5em;
    @include tb {
      width: 100%;
      padding:10px;
      border-radius: 10px 10px 0 0;
    }
  }
  &__text {
    background: #FFFAFA;
    width: 100%;
    border-radius: 0 10px 10px 0;
    @include tb {
      border-radius: 0 0 10px 10px;
    }
    
    &__heading {
      font-size: 1.4em;
      text-align: center;
      line-height: 3;
      margin-bottom: 5px;
      text-decoration: underline 1px;
      @include small {
        font-size: 1em;
        padding: 0 10px;
      }
    }

    &__wrap {
      background: #fff;
      border: 1px solid #c1c1c1;
      width: 85%;
      margin: 0 auto ;
      padding: 20px;
      @include small {
        padding: 10px;
        width: 90%;
      }

      &__title {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 13px;
        @include small {
          font-size: 1em;
        }
      }
      &__date {
        font-size: 1.2em;
        @include small {
          font-size: 1em;
        }
      }
      &__hours {
        font-size: 1.2em;
        @include small {
          font-size: 1em;
        }
      }
      & span {
        display: inline-block;
        color: red;
        margin-bottom: 5px;
        font-size: .9em;
        padding: 0 5px;
      }
    }
    &__list {
      padding: 20px 80px;
      list-style-type: disc;
      font-size: .9em;
      @include small {
        padding: 20px 30px;
        list-style-position: inside;
        font-size: .75em;
      }
    }
  }
}

/* animalContents
====================== */

.animalContents {
  text-align: center;
  position: relative;
  @media screen and (max-width: 1344px) {
    overflow: hidden;     
  }

  /* img */
  &__topImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1024px;
    height: 600px;
    @include small {
      overflow: hidden;
    }
    &__pengin01 {
      position: absolute;
      top: 100px;
      left: 30px;
      z-index: 1;
      width: 200px;
      @include tb {
        top: 190px;
        left: 25px;
        width: 150px;
      }
      @include small {
        top: 140px;
        left: 6px;
        width: 80px;
      }
    }
    &__sakana {
      position: absolute;
      top: 280px;
      left: 210px;
      z-index: 1;
      width: 130px;
      @include tb {
        top: 580px;
        left: 10px;
        width: 130px;
      }
      @include small {
        top: 160px;
        left: auto;
        right: 10px;
        width: 70px;
      }
    }
    &__azarashi01 {
      position: absolute;
      top: 390px;
      left: -20px;
      z-index: 1;
      width: 260px;
      @include tb {
        display: none;
      }
    }
    &__shirokuma {
      position: absolute;
      top: 520px;
      left: 140px;
      z-index: 2;
      width: 180px;
      @include tb {
        display: none;
      }
    }
    &__awa-left {
      position: absolute;
      top: 70px;
      left: -160px;
      z-index: 0;
      width: 450px;
      @include tb {
        top: 150px;
        left: -110px;
        width: 350px;
      }
      @include small {
        top: 110px;
        left: -70px;
        width: 200px;
      }
    }

    &__iruka {
      position: absolute;
      top: 100px;
      right: 0px;
      z-index: 1;
      width: 220px;
      @include tb {
        display: none;
      }
    }
    &__pengin02 {
      position: absolute;
      top: 220px;
      right: 150px;
      z-index: 1;
      width: 150px;
      @include tb {
        display: none;
      }
    }
    &__kurage {
      position: absolute;
      top: 350px;
      right: 50px;
      z-index: 1;
      width: 130px;
      @include tb {
        top: 300px;
        right: 20px;
        width: 130px;
      }
      @include small {
        top: 320px;
        left: 10px;
        width: 80px;
      }
    }
    &__azarashi02 {
      position: absolute;
      top: 470px;
      right: 90px;
      z-index: 1;
      width: 200px;
      @include tb {
        top: 530px;
        right: 10px;
        width: 150px;
      }
      @include small {
        top: 310px;
        right: 0px;
        width: 100px;
      }
    }
    &__awa-right {
      position: absolute;
      top: 40px;
      right: -160px;
      z-index: 0;
      width: 430px;
      @include small {
        top: 110px;
        right: -70px;
        width: 200px;
      }
    }
  } /* img end*/

  &__heading {
    position: relative;
    display: inline-block;
    font-size: $headingFontSize;
    font-family: $headingFont;
    background:linear-gradient(transparent 90%, #FFE51F 80%);
    margin-top: 150px;
    margin-bottom: 30px;
    @include small {
      width: 90%;
      font-size: 1.3em;
      margin-top: 70px;
    }
  }
  &__text {
    font-size: 1.1em;
    line-height: 3;
    margin-bottom: 50px;
    @include small {
      font-size: 1em;
      line-height: 2.8;
    }
  }
  /* sns */
  &__sns {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    @include tb {
      display: block;
    }
    &__inner {
      position: relative;
      z-index: 2;
      width: 30%;
      &--twitter {
        margin-right: 20px;
        @include tb {
          width: 70%;
          margin: 0 auto 30px;
        }
        @include small {
          width: 80%;
        }
      }
      &--youtube {
        margin-left: 20px;
        @include tb {
          width: 70%;
          margin: 0 auto 30px;
        }
        @include small {
          width: 80%;
          margin: 0 auto 0;
        }
      }
      &__title {
        font-size: 1.1em;
        margin: 20px 0;
        & span {
          color: blue;
          font-size: 1.3em;
          padding: 0 5px;
        }
        &--twitter {
          position: absolute;
          width: 370px;
          height: 100px;
          padding: 30px;
          top: 0px;
          left: -40px;
          transform: rotateZ(-2deg);
          background: url(../images/hukidashi-left.png)no-repeat;
          background-size: 370px auto;
          margin-left: -50px;
          @include tb {
            width: 300px;
            font-size: .9em;
            top: -120px;
            left: 15px;
            background-size: 300px auto;
            transform: rotateZ(0deg);
            padding: 20px 0 0;
          }
        }

        &--youtube {
          position: absolute;
          width: 370px;
          height: 100px;
          padding: 30px; 
          top: 0;
          right: -40px;
          transform: rotateZ(2deg);
          background: url(../images/hukidashi02.png)no-repeat;
          background-size: 370px auto;
          @include tb {
            width: 300px;
            font-size: .9em;
            top: 30px;
            right: -26px;
            background-size: 300px auto;
            transform: rotateZ(0deg);
            padding: 20px 0 0;
          }
        }
      }
      &__link {
        margin-top: 150px;
        width: 100%;
      }
    }
  }
}


/*slider*/
.animalContents__slider {
  position: relative;
  margin: 70px 0 30px;
  
  &__wave {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 30px;
    &--top {
      top: -1px;
    }
    &--bottom {
    bottom: -1px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    & svg {
      width: 100%;
      height: 100%;
      @include tb {
        display: none;
      }
    }
  }
  &__list {
    & img {
      width: 100%;
    }
    & .slick-slide {
      margin: 0 5px;
    }
  }
}

/* img */
.animalContents__bottomImg {
  position: relative;
  
  &__kurage {
    position: absolute;
    top: 400px;
    left: 50px;
    z-index: 1;
    width: 120px;
    @include tb {
      top: 1200px;
      left: 0;
    }
    @include small {
      top: 1100px;
    }
  }
  &__kai {
    position: absolute;
    top: 700px;
    left: 200px;
    z-index: 1;
    width: 80px;
    @include tb {
      top: 700px;
      left: auto;
      right: 20px;
    }
    @include small {
      top: 600px;
    }
  }
  &__awa-left {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 0;
    width: 400px;
    @include tb {
      top: 800px;
      right: 0;
      width: 250px;
    }
    @include small {
      top: 770px;
    }
  }
  
  &__fish {
    position: absolute;
    top: 600px;
    right: 10px;
    z-index: 1;
    width: 220px;
    @include tb {
      display: none;
    }
  }
  &__awa-right {
    position: absolute;
    top: 180px;
    right: 40px;
    z-index: 0;
    width: 460px;
    @include tb {
      top: 50px;
      right: 0;
      width: 300px;
    }
    @include small {
      top: -20px;
    }
  }
} /* img end */


/* info
================ */

 /* img */
.news__img {
  position: relative;
  &__item {
    position: absolute;
  }
  &--left {
    top: 100px;
    left: 0;
    width: 170px;
  }
  &--right {
    top: 0;
    right: 0;
    width: 200px;
  }
  &__banner {
    width: 70%;
    margin: 0 auto;
    
    @include tb {
      width: 80%;
      position: relative;
      z-index: 1;
    }
    @include small {
      width: 85%;
    }
    &__pc {
      width: 100%;
      @include small {
        display: none;
      }
    }
    &__sp {
      width: 100%;
      display: none;
      @include small {
        display: block;
      }
    }
  }
}
/* tab */ 
.newsTab {
  display: flex;
  width: 70%;
  margin: 0 auto;
  @include tb {
    width: 80%;
  }
  @include small {
    width: 85%;
  }
  &__item {
    position: relative;
    width: 50%;
    text-align: center;
    padding: 25px 0;
    font-family: $headingFont;
    font-size: 1.2em;
    background: $subColor02;
    color: $subColor01;
    z-index: 1;
    @include tb {
      padding: 15px 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &Active {
    background: $subColor01;
    color: #fff;
    box-shadow: 0px 0px 5px  #999;
    z-index: 2;
    &::after {
      content: "";
      width: 25px;
      height: 15px;
      background: url(../images/news.png) 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      left: 50%;
      bottom: -9px;
      margin-left: -8px;
    }
  }
  &Arrow {
    position: relative;
    display: inline-block;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -26.1px;
      margin: auto;
      content: "";
      width: 17px;
      height: 17px;
      background: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      top: 0;
      bottom: 2px;
      left: -18.1px;
      margin: auto;
      content: "";
      display: block;
      box-sizing: border-box;
      width: 7px;
      height: 7px;
      border-top: 2px solid $subColor01;
      border-right: 2px solid $subColor01;
      transform: translateX(-50%) rotate(135deg);
    }
  }
}

/* event */
.eventContents {
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 0px 20px #f1f0f0;
  width: 70%;
  margin: 0 auto 50px;
  padding:50px  50px 10px;
  @include tb {
    width: 80%;
    padding: 40px 20px 20px;
  }
  @include small {
    width: 85%;
  }
}

.eventCard {
  display: flex;
  justify-content: space-between;
  @include tb {
    display: block;
  }
  &__item {
    width: 30%;
    @include tb {
      width: 90%;
      margin: 0 auto 70px;
    }
    @include small {
      width: 100%;
      margin-bottom: 20px;
    }
    &--link {
      display: block;
      & img {
        width: 100%;
        @include tb {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    &__text {
      margin: 10px 0;
      @include tb {
        margin: 0;
        font-size: 1.3em;
        padding: 10px 50px 0;
      }
      @include small {
        padding: 10px 28px 0;
      }
      &__heading {
        display: flex;
        justify-content: space-between;
        @include tb {
          display: block;
        }
        &--title {
          display: inline-block;
          background: #FFFF8D;
          padding: 5px 5px;
          @include small {
            font-size: .8em;
          }
        }
        &--date {
          display: inline-block;
          font-size: .85em;
          color: #288ADE;
          padding: 13px 3px 2px;
          margin-left: 20px;
          @include tb {
            margin-left: 0;
          }
          @include small {
            padding: 0;
            font-size: .8em;
          }
        }
      }
      &__desc {
        padding: 10px 2px 0;
        font-size: .9em;
        @include tb {
          font-size: 1.2em;
        }
        @include small {
          font-size: .7em;
          padding: 5px 2px 0;
        }
      }
    }
  }
}

/* news */
.newsContents {
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 0px 20px #f1f0f0;
  width: 70%;
  margin: 0 auto 50px;
  padding: 50px 50px 20px;
  @include tb {
    width: 80%;
  }
  @include small {
    width: 85%;
    padding: 40px 20px 20px;
  }
  &__item {
    display: flex;
    border-bottom: 1px solid #DCE2F0;
    line-height: 2.3;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    @include small {
      display: block;
      line-height: 1.3;
      font-size: .95em;
      }
    &__date {
      color: $subColor01;
      padding: 0 60px 5px 0;
      font-weight: normal;
      }
    &__desc {
      @include small {
      padding: 5px 0 5px;
      }
    &--last {
      margin-bottom: 30px;
      }
    }
  }
}

/* link */
.moreContents {
  text-align: right;
  margin: 20px;
  margin-right: 20px;
  &--price {
    margin-right: 310px;
  }
  &__link {
    font-size: 1.2em;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0px;
      right: -20px;
      margin: auto;
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $mainFontColor;
      border-right: 2px solid $mainFontColor;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &--price {
      display: block;
      text-decoration: underline;
      line-height: 2;
    }
  }
}


/* ticket info
================ */

/* price */
.price__contents {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include tb {
    width: 80%;
  }
  @include small {
    width: 85%;
    display: block;
  }
}
.priceTable {
  width: 60%;
  
  @include small {
    width: 100%;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
    &__row {
      &__kinds {
        text-align: center;
        font-weight: normal;
        line-height: 4;
        font-size: 1.2em;
        background: $subColor02;
        border-bottom: 2px solid #b4b4b4;
        color: $subColor01;
        &--first {
          text-align: left;
          padding-left: 20px;
          font-size: 1.2em;
        }
      }
      &__heading {
        width: 200px;
        height: 80px;
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
        font-size: 1.1em;
        border-bottom: 1px solid #dfdfdf;
        background: #fff;
        color: $subColor01;
        &--age {
          padding-left: 20px;
        }
        & span {
          display: block;
          font-size: .7em;
          padding-bottom: 10px;
        }
      }
      &__data {
        width: 200px;
        text-align: center;
        font-size: 1.2em;
        padding: 15px 15px 15px 15px;
        border-bottom: 1px solid #dfdfdf;
        font-weight: normal;
        vertical-align: middle;
        background: #fff;
        
      }
    }
    &__supplement {
      list-style: disc;
      padding: 30px 25px;
      line-height: 1.7;
      @include small {
        margin-bottom: 50px;
      }
    }
  }
}

/* ticket */
.price__more {
  width: 35%;
  @include small {
    width: 100%;
  }
  &__item {
    border: 1px solid $subColor01;
    margin-bottom: 20px;
    border-radius: 8px;
    &__heading {
      font-size: 1.1em;
      line-height: 2;
      // background: $subColor01;
      background: rgb(40,138,222);
      background: linear-gradient(141deg, rgba(40,138,222,1) 0%, rgba(104,173,209,1) 43%, rgba(133,201,231,1) 70%, rgba(147,209,236,1) 100%);
      color: #fff;
      padding-left: 10px;
      border-radius: 7px 7px 0 0;
    }
    &__desc {
      background: #fff;
      font-size: .9em;
      padding: 10px;
      border-radius: 8px;
      &__link {
        display: block;
        text-align: right;
        text-decoration: underline;
        padding-top: 3px;
        font-size: .9em;
      }
    }
  }
  &__ticket img {
    width: 100%;
    border: 1px solid #7c7c7c;
  }
}


/* access
================ */

.googleMap {
  width: 70%;
  margin: 0 auto ;
  @include tb {
    width: 80%;
  }
  @include small {
    width: 85%;
  }
  & iframe {
    border: none;
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
  }
  &__text {
    background: #fff;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid $subColor01;
    border-radius: 10px;
    &__title {
      font-size: 1.3em;
      line-height: 1;
      padding-left: 10px;
      font-family: $headingFont;
      border-left: 4px solid $subColor01;
    }
    &__wrapper {
      padding: 20px 0;
      &__desc {
        border-bottom: 1px dashed #aaa;
        padding: 5px 0;
        margin: 0 20px;
        @include small {
          margin: 0;
        }
      }
    }
  }
}

/* footer
================ */

.footer {
  background: $subColor01;
  color: #fff;

  /* nav */
  &Nav {
    display: flex;
    justify-content: center;
    width: 60%;
    min-width: 900px;
    margin: 0 auto;
    border-bottom: 1px dotted #fff;
    @include tb {
      min-width: 100%;
      text-align: center;
      padding: 20px 0;
    }
    @include small {
      text-align: center;
      display: block;
    }
    &__item {
      padding: 40px 15px 8px;
      @include tb {
        padding: 0 7px 10px;
      }
      @include small {
        width: 100%;
      }
      &__link {
        display: block;
        transition: .3s;
        &:hover {
          color: #3d3d3d;
        }
        @include small {
          text-decoration: underline;
        }
      }
    }
  }
  /* contents */
  &__contents {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    min-width: 900px;
    margin: 0 auto;
    @include tb {
      flex-direction: column;
      min-width: 100%;
    }
  }
  &__info {
    width: 50%;
    padding: 30px 20px;
    font-family: $headingFont;
    @include tb {
      width: auto;
      align-self: center;
      padding: 30px 0 0px;
    }
    @include small {
      padding: 10px 20px;
    }
    &__logo {
      &__title {
        font-size: 2.3em;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 5px;
        @include small {
          font-size: 1.5em;
          letter-spacing: 2px;
          margin-top: 20px;
        }
        &__border {
          width: 360px;
            display: block;
            margin: 10px auto;
          @include small {
            width: 230px;
          }
        }
      }
    }
    &__access {
      font-size: 1.2em;
      text-align: center;
      line-height: 2;
      @include small {
        font-size: 1em;
      }
    }
  }
  &__link {
    width: 50%;
    padding: 30px 20px;
    text-align: center;
    @include tb {
      width: auto;
      align-self: center;
    }
    @include small {
      padding: 15px 20px 0;
    }
    &__sns {
      padding: 0 30px 20px;
      display: flex;
      justify-content: center;
      @include small {
        padding: 0;
      }
      & a {
        padding: 0 10px;
      }
      & img {
        width: 65px;
      }
    }
    &__inquiry {
      display: inline-block;
      text-align: center;
      padding: 8px 50px;
      margin: 20px;
      font-size: 1.2em;
      background: #fff;
      border-radius: 50px;
      transition: .3s;
      &:hover {
        background: #ccc;
      }
      & a {
        display: block;
        color: $subColor01;
      }
    }
  }
}

/* copy */
.copy {
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  background: #2071b8;
}