/* common
================ */
body {
  font-size: 1em;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  color: #3d3d3d;
}

select {
  border: 1px solid #707070;
  border-radius: 3px;
  text-align: center;
}

input {
  border: 1px solid #707070;
  border-radius: 3px;
  text-align: center;
}

/* header 
================ */
.header {
  background: #288ade;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header__contents {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.header__logo {
  font-family: vdl-megamaru, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 15px 0 10px;
  line-height: 1.2;
}

/* nav */
.nav {
  font-family: vdl-megamaru, sans-serif;
}
@media screen and (max-width: 520px) {
  .nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    background: rgba(48, 119, 226, 0.897);
    transition: all 0.6s;
  }
  .nav.panelactive {
    right: -40%;
  }
}
.nav__logo {
  display: none;
}
@media screen and (max-width: 520px) {
  .nav__logo {
    display: block;
    font-size: 1.3em;
    margin-left: 15px;
  }
}
@media screen and (max-width: 520px) {
  .nav__logo__title {
    margin-top: 50px;
    margin-left: 10px;
  }
}
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .navList {
    display: block;
    width: 65%;
  }
}
.navList__item {
  border-left: 1px dashed #3d3d3d;
  padding: 5px 30px;
  margin: 20px 0;
}
@media screen and (max-width: 520px) {
  .navList__item {
    text-align: left;
    width: 100%;
    margin: 10px 0 10px;
    border-left: none;
    padding: 0;
  }
}
.navList__item--border {
  border-right: 1px dashed #3d3d3d;
}
@media screen and (max-width: 520px) {
  .navList__item--border {
    border-right: none;
  }
}
.navList__item__link {
  position: relative;
  display: block;
}
@media screen and (max-width: 520px) {
  .navList__item__link {
    color: #fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-left: 30px;
  }
}
.navList__item__link img {
  display: none;
}
@media screen and (max-width: 520px) {
  .navList__item__link img {
    display: inline-block;
    width: 40px;
  }
}
.navList__item__link__text {
  display: block;
  font-size: 1.3em;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .navList__item__link__text {
    display: inline-block;
    line-height: 2;
    text-align: left;
    font-size: .9em;
  }
}
.navList__item__link__text--size {
  font-size: 1.2em;
  line-height: 1;
}
@media screen and (max-width: 520px) {
  .navList__item__link__text--size {
    font-size: .8em;
  }
}
.nav__btn {
  display: none;
}
@media screen and (max-width: 520px) {
  .nav__btn {
    display: block;
    background: #fff;
    color: #3d3d3d;
    width: 45%;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 20px 20px 30px;
    border-radius: 8px;
    font-size: .8em;
  }
}

@media screen and (max-width: 520px) {
  .openbtn {
    position: fixed;
    z-index: 9999;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 520px) and (max-width: 520px) {
  .openbtn {
    right: 0;
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 520px) {
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 25px;
  }
  .openbtn span:nth-of-type(3) {
    top: 35px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 8px;
    left: 30px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 20px;
    left: 30px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
/* main visual
================ */
.main {
  position: relative;
}
.main__visual {
  position: relative;
  display: flex;
  padding-top: 81px;
}
@media screen and (max-width: 520px) {
  .main__visual {
    padding-top: 61px;
  }
}
.main__visual__title {
  font-family: vdl-megamaru, sans-serif;
  font-size: 2.5em;
  text-align: center;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  height: 400px;
  padding: 130px 0 150px;
}
@media screen and (max-width: 520px) {
  .main__visual__title {
    font-size: 2em;
    height: 300px;
    padding: 110px 0 150px;
  }
}
.main__visual__wave {
  position: absolute;
  top: 395px;
  width: 100%;
  height: 3%;
  fill: #fff;
}
@media screen and (max-width: 520px) {
  .main__visual__wave {
    display: none;
  }
}

/* breadcrumb
================ */
.breadcrumb {
  width: 75%;
  margin: 50px auto 50px;
  list-style: none;
}
@media screen and (max-width: 520px) {
  .breadcrumb {
    margin: 30px auto;
    font-size: .8em;
  }
}
.breadcrumb__item {
  display: inline;
}
.breadcrumb__item::after {
  content: ">";
  color: #a1a1a1;
  margin-right: 5px;
}
.breadcrumb__item--last::after {
  content: "";
}
.breadcrumb__item__link {
  padding-right: 15px;
  text-decoration: underline;
}

/* contents
================ */
.contentsWrapper {
  width: 75%;
  margin: 0 auto;
}
.contentsWrapper__heading {
  font-size: 2em;
  border-bottom: 1px dashed #707070;
  padding: 10px 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .contentsWrapper__heading {
    font-size: 1.3em;
  }
}
.contentsWrapper__heading .fas {
  padding-right: 10px;
}
.contentsWrapper__desc__text {
  list-style: disc;
  list-style-position: inside;
  text-indent: 1em;
  font-size: 1.2em;
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .contentsWrapper__desc__text {
    font-size: .8em;
  }
}

/* register
================ */
.register__heading {
  background: #ECF5FA;
  padding: 15px;
  margin-bottom: 30px;
}
.register__form {
  padding: 10px 0 10px 20px;
  margin-bottom: 60px;
  width: 50%;
}
@media screen and (max-width: 520px) {
  .register__form {
    padding: 10px 0 10px 3px;
    width: 100%;
  }
}
.register__form--width {
  width: 100%;
}
.register__kinds {
  padding: 30px 10px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #707070;
}
.register__kinds__price {
  font-size: 1.1em;
}
@media screen and (max-width: 520px) {
  .register__kinds__price {
    font-size: 1em;
  }
}
.register__kinds__price span {
  color: #288ade;
  display: block;
  font-size: .9em;
}
.register__kinds__sheets {
  display: flex;
  align-items: center;
}
.register__kinds__sheets__select {
  border: 1px solid #707070;
  width: 130px;
  text-align: center;
  padding: 10px 20px;
  margin-right: 15px;
}
@media screen and (max-width: 520px) {
  .register__kinds__sheets__select {
    padding: 10px;
    width: auto;
  }
}
.register__kinds__sheets p {
  font-size: 1.2em;
}
.register__attention {
  padding: 20px 0 60px;
}
@media screen and (max-width: 520px) {
  .register__attention {
    font-size: .8em;
  }
}
.register__item {
  margin-bottom: 20px;
}
.register__item__text {
  color: #288ade;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.register__item__text--width {
  width: 200px;
}
.register__item input {
  margin-right: 20px;
  width: 250px;
  height: 30px;
}
@media screen and (max-width: 520px) {
  .register__item input {
    width: 35%;
  }
}
.register__item select {
  margin-right: 20px;
}
@media screen and (max-width: 520px) {
  .register__item select {
    margin-right: 0;
  }
}
.register__item--email input {
  width: 525px;
}
@media screen and (max-width: 520px) {
  .register__item--email input {
    width: 80%;
  }
}
.register__item--passeword input {
  width: 525px;
}
@media screen and (max-width: 520px) {
  .register__item--passeword input {
    width: 80%;
  }
}
.register__item--postalCod input {
  margin-right: 0;
  width: 160px;
}
@media screen and (max-width: 520px) {
  .register__item--postalCod input {
    width: 32%;
  }
}
.register__item--postalCod span {
  padding: 0 10px;
}
.register__item--pref select {
  width: 365px;
  height: 30px;
}
@media screen and (max-width: 520px) {
  .register__item--pref select {
    width: 80%;
  }
}
.register__item--address input {
  width: 525px;
}
@media screen and (max-width: 520px) {
  .register__item--address input {
    width: 80%;
  }
}
.register__item--tel input {
  width: 525px;
}
@media screen and (max-width: 520px) {
  .register__item--tel input {
    width: 80%;
  }
}
.register__item--gender input {
  margin-right: 10px;
  width: 20px;
}
.register__item--gender label {
  margin-right: 10px;
}
.register__item--birthday select {
  width: 120px;
  height: 30px;
}
@media screen and (max-width: 520px) {
  .register__item--birthday select {
    width: 25%;
  }
}
.register__payment {
  margin-bottom: 50px;
}
.register__payment label {
  display: block;
  border: 1px solid #707070;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}
.register__payment label input {
  margin-right: 10px;
  width: 20px;
  height: 30px;
}
.register__total {
  background: #484848;
  font-size: 1.1em;
  color: #fff;
  padding: 7px 30px;
  margin-bottom: 70px;
  border: 10px solid #707070;
  border-radius: 3px;
}
@media screen and (max-width: 520px) {
  .register__total {
    padding: 7px 10px;
  }
}
.register__total__text {
  display: flex;
  justify-content: space-between;
}
.register__total__text span {
  text-align: right;
}
.register__verification {
  background: #484848;
  color: #fff;
  font-size: 1.1em;
  padding: 15px 70px;
  text-align: center;
  width: 45%;
  margin: 0 auto 60px;
  border-radius: 3px;
  transition: .3s;
}
@media screen and (max-width: 520px) {
  .register__verification {
    width: 100%;
    padding: 10px 50px;
  }
}
.register__verification:hover {
  background: #9b9b9b;
}
.register__verification__link {
  display: block;
}

/* footer 
================ */
.footer {
  background: #288ade;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  line-height: 2;
}

/*# sourceMappingURL=ticket.css.map */
